body{
    background-color:#ff8a24;
    color: #ff8a24;
    font-family: 'Courgette', cursive;
}
fieldset{
    background-color: #F3CE53;
    width: 44vw;
    height: 47vw;
    text-align: center;
    border:0.15vw solid #D5731C;
}
label{
    font-size: 1.3vw;
}
input{
    background-color:#ff8a24 ;
    color:#F3CE53;
    font-weight:400 ;
    border:0.15vw solid #D5731C;
    font-size:0.8vw;
}
textarea{
    background-color:#ff8a24 ;
    color:#F3CE53;
    font-weight:400 ;
    border:0.15vw solid #D5731C;
        font-size:0.8vw;
}
h1{
    font-size: 3vw;
    margin-bottom: 5vw;
}
#register,#login{
    margin-left: 26vw;
}
.box_1{
    margin-top:1.5vw;
}
#button{
    font-size:3vw;
    background-color:#ff8a24 ;
    color: #F3CE53;
    border:0.15vw solid #D5731C;
    border-radius: 1vw;
    margin-left: 3vw;
}
#pass_lab{
    margin-left:-2vw;
}
#add_lab{
    margin-left: -1vw;
}
#num_lab{
    margin-left: -1vw;
}
#e_lab{
    margin-left: -0.4vw;
}
#comm_lab{
    margin-left: -1.3vw;
}